* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #282c34;
  color: #ffffff;
  line-height: 1.6;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.App-header {
  padding: 20px;
  color: white;
  text-align: center;
}

.trip-form {
  margin-bottom: 20px;
}

.trip-form input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

.trip-form button {
  background-color: #35545c;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

.trip-list ul {
  list-style-type: none;
  padding: 0;
}

.trip-list li {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
}

.trip-list li a {
  text-decoration: none;
  color: inherit;
}

.trip-details {
  margin-top: 20px;
}

.trip-details input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

.trip-details button {
  background-color: #101b1e;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
}

.itinerary-form {
  margin-bottom: 20px;
}

.itinerary-form input {
  margin-right: 10px;
  padding: 5px;
}

.itinerary-list {
  list-style-type: none;
  padding: 0;
}

.itinerary-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.itinerary-item button {
  background-color: #ff4136;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
